@font-face{
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-Regular.ttf");
}

@font-face{
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-Bold.ttf");
  font-weight: bold;
}

body {
  font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0;
  font-size: 13px;
  text-align: center;
  color:#000;
  background: url("../img/background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul li:hover {
  background: #ccc;
  color: #fff;
}
ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li {
  background: #666;
  display: block;
  color: #ccc;
  text-shadow: 0 -1px 0 #000;
}
ul li ul li:hover { background: #ccc; }
ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
a{
  color: #333;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #fff;
}

.well a:hover{
  text-decoration: none;
  color: #FFAF15;
}

footer{
  position: relative;
  width: 100wh;
  margin: auto;
  padding: 15px 0;
/*   height: 60px;*/
  background-color: #FFAF15;
}

footer p{
  margin:0;
  color: rgba(0,0,0, 0.8);
}

#contato
{
    z-index:0;
    position: relative;
    margin: 15px auto;
}
.col-sm-offset-4{
    margin-left:0 !important;
    text-align: center;
}
input,textarea {
  border: 1;
  padding: 12px;
  font-size: 18px;
}
input[type="submit"]{
  background: #FFAF15;
  color: black;
  border: 0;
}
input[type="submit"]:hover {
    background: #000;
    color: #FFAF15;
}
ul,li{
    z-index: 4;
}
